body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  max-width: 400px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ed0c6e;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

input :hover {
  background-color: #ed0c6e;
}

button {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #ed0c6e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

li a {
  color: #ed0c6e;
}

#delete-btn {
  color: #ed0c6e;
  background-color: white;
  border: 1px solid #ed0c6e;
}
